body{
    color:white;
    background: rgba(6, 38, 143, 0.874);
    margin: 0px;
    margin-bottom: 100px;

    
}
header{
    
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        
      
border-bottom: solid 1px   rgb(207, 179, 179);
padding:1px;
font-size: 60px;
color: rgb(255, 255, 255);
display: flex;
justify-content: center;


}   

section{
    background: rgba(0, 0, 0, 0.781);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display:flex;
    justify-content: center;

}
.chamada-texto{
    margin-right: 5%;
}

.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 10px
    }



img{
    height: 200px;
}

.elemento{
    padding-left: 5px;
    padding-right: 5px;
}
.elemento img{
opacity: 0.5

}
.elemento img:hover {
    opacity: 1.0;
    border: 2px solid white
}

.meio {
    justify-content: center;
    border-bottom: 2px solid gold;
}